{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="container">
            <h1 class="text-center mt-5 form-signin-heading">Register here</h1>
            <form method="POST" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="row">
                    <div class="col-sm-4"></div>
                    <div class="col-sm-4 mt-3">
                            {% buttons %}
                            <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                        {% endbuttons %}
                    </div>
                
                    <div class="col-sm-4"></div>
            </div>
            </form>
    </div>
{% endblock %}
