{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'vendor/css/jquery-ui.min.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <h1 class="text-center mt-5 form-signin-heading">Post your Ad</h1>
    <form method="POST" class="form mt-3" id="postForm" >
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4 mt-3">
                  {% buttons %}
                  <button type="submit" class="btn btn-primary btn-lg btn-block">{{ button_name }} Post</button>
              {% endbuttons %}
          </div>
      
          <div class="col-sm-4"></div>
    </div>
    </form>
  </div>


{% endblock %}

<!-- below piece of code used from 
https://simpleisbetterthancomplex.com/tutorial/2018/01/29/how-to-implement-dependent-or-chained-dropdown-list-with-django.html -->
{% block script %}

<script src="{% static 'vendor/js/jquery-3.3.1.js' %}"></script>

<script src="{% static 'vendor/js/jquery-ui.min.js' %}"></script>


{{ form.media }} <!--required for autocomplete app -->

<!-- adding jquery ui widgets to our form-->

<script>
  $('#id_available_from').datepicker();

  $( "input[type='checkbox'], input[type='radio']" ).checkboxradio();

  $('#id_amenities,\
     #id_furnishing_details,\
     #id_smoke_policy, \
     #id_rental_type, \
     #id_attached_bath, \
     #id_preferred_gender, \
     #id_pet_friendly').css({"display":"-webkit-inline-box", "margin-left":"1%"});

  $('.checkbox, .radio').css("padding", "1%");
</script>


{% endblock %}

<!-- Below is a manual ajax code for dependent dropdown list -->
<!-- <form method="POST" class="form" id="postForm" data-cities-url = "{% url 'posts:ajax_load_cities' %}" novalidate></form> -->
<!-- <script>
  $(document).ready(function(){

  $("#id_cities").prop("disabled", true); 

  $("#id_new_state").change(function () {
  var url = $("#postForm").attr("data-cities-url");  // get the url of the `load_cities` view
  var countryId = $(this).val();  // get the selected country ID from the HTML input

  $.ajax({                       // initialize an AJAX request
    url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
    data: {
      'state': countryId       // add the country id to the GET parameters
    },
    success: function (data) {   // `data` is the return of the `load_cities` view function
      $("#id_cities").html(data);  // replace the contents of the city input with the data that came from the server
      $("#id_cities").prop("disabled", false);
    }
  });

});  
  
});

  
</script> -->